#app {
	max-width: 960px;
  margin: 0 auto;
}
.container {
	width: 100%
	display: flex;
}
h1 {
	font-family: 'Audiowide', cursive;
}
h1, h2, h3 {
	text-align: center;
}
body {
	font-family: 'Roboto', sans-serif;
}
input, textarea, select {
	border: 2px black solid;
	border-radius: 3px;
	margin: 3px;
	padding: 6px;
	font-family: 'Domine', serif;
	font-size: 16px;
}
.input-container input {
	flex: 1 0 auto;
}
.btn {
	border: 2px black solid;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
  background-color: #ffffff;
  display: inline-block;
  transition: all 0.1s;
  cursor: pointer;
}
.btn:hover {
  background-color: #cfcfcf;
}
.btn:active {
  background-color: #afafaf;
}
.bordered{
	border: 2px black solid;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
	background-color: white;
}
.link, h1 a, .nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: inline-block;
}
.link.active {
  font-weight: bold;
}
.input-container {
	display: flex;
}
.row {
	padding: 3px;
}
.row:hover {
	background-color: #efefef;
}
.alt-row {
	background-color: #cfcfcf;
}
.alt-row:hover {
	background-color: #bfbfbf;
}
.browse-results {
	padding: 0px;
}
.browse-results a {
	text-decoration: none;
  color: black;
}
.nav {
	display: flex;
	justify-content: center;
}
.nav a {
	font-weight: bold;
}
table {
	width: 100%;
}
.info-row {
	margin-bottom: 10px;
}
.strong {
	font-weight: bold;
}
.tr {
	text-align: right;
}
.tl {
	text-align: left;
}
.description {
	padding: 3px;
	background-color: #cfcfcf;
	margin-top: 2px;
	font-family: monospace;
	border-radius: 3px;
	white-space: pre-wrap;
}
.modal-container {
  position: relative;
  min-height: 500px;
}
.modal {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.comment {
	margin: 10px 3px;
}
.download {
	margin: 3px;
}
